SECRET_KEY= # Ваш секретный ключт Django
DEBUG= # Режим отладки для Django (True/False)

POSTGRES_DB= # База данных PostgreSQL
POSTGRES_USER= # Пользователь PostgreSQL
POSTGRES_PASSWORD= # Пароль пользователя PostgreSQL
POSTGRES_HOST= # Хост для PostgreSQL
POSTGRES_PORT= # Порт для PostgreSQL

CORS_ALLOWED_ORIGINS= # Доверенные адреса для CORS (перечислить через ;)
CSRF_TRUSTED_ORIGINS= # Доверенные адреса для CSRF (перечислить через ;)

EMAIL_HOST_USER= # Почта пользователя для smtp
EMAIL_PASSWORD_USER= # Пароль от почты пользователя для smtp

BASE_SERVER_URL= # Базовый адрес Вашего сервера

CELERY_BROKER_URL= # Адрес брокера сообщенией для Celery
CELERY_RESULT_BACKEND= # Адрес брокера для получения результатов для Celery